.product {
    font-family: $Rubik;


    &__inner {
        display: flex
    }

    &__content {
        width: 550px;
        color: $blue-500;
    }

    &__title {
        font-size: 40px;
        margin-bottom: 20px;
        font-weight: $Rubik400;
        color: $dark;
    }

    &__star {
        margin-bottom: 35px;
    }

    &__price {
        font-size: 30px;
        margin-bottom: 30px;
    }

    &__text {
        margin: 30px 0;
    }

    &__nav {
        margin-bottom: 50px;
    }

    &__form {
        display: flex;
    }

    &__item {
        margin-bottom: 20px;
    }


    &__counter {
        margin-right: 15px;


        input {
            text-align: center;
            width: 50px;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                margin: 0;
                appearance: none;
            }
        }
    }

    &__meter {
        width: 50px;
        height: 50px;
        border: 1px solid $grey-300;
        background-color: $white;
        transition: background-color 0.4s;

        &--minus,
        &--plus {
            cursor: pointer;
            &:hover {
                background-color: $grey-300;
            }
        }
    }

}

.product-slide {
    display: flex;
    width: 550px;
    margin-right: 70px;
    justify-content: space-between;

    &__list {
        width: 140px;
        margin-right: 30px;
    }

    &__biglist {
        width: 385px;
        height: 530px;
        border: 1px solid $grey-250;
    }

    &__biglist-item {
        width: 385px;
        height: 530px;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    &__item {
        width: 140px;
        height: 160px;
        border: 1px solid $grey-250;
        display: flex !important;
        align-items: center;
        justify-content: center;
        margin-bottom: 23px;
    }

    &__img {
        width: 107px;
        height: 147px;
        object-fit: contain;
    }

    &__image {
        width: 233px;
        height: 405px;
        object-fit: cover;
    }
}