.modal {
    font-family: $Rubik;
    font-size: 14px;
    color: $blue-300;

    &__form, &__label {
        display: flex;
        flex-direction: column;
    }

    &__form {
        width: 475px;
    }


    &__input {
        font-size: 20px;
        height: 57px;
        margin: 15px 0 27px;
        border-style: none;
        border: 2px solid $white-150;
        padding: 0 10px;
    }

    &__btn {
        font-weight: $Rubik500;
        cursor: pointer;
        font-size: 18px;
        background-color: $grey-300;
        height: 60px;
        width: 100%;
        border-style: none;
        color: $white;
        margin-bottom: 35px;

        &--create {
            color: $blue-500;
            background-color: $white;
            border: 2px solid $grey-300;
            padding: 15px 0;
            text-align: center;
            margin-bottom: 120px;
        }
    }

    &__link {
        text-align: center;
        margin-bottom: 25px;
    }

    &__form-bottom {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        border-bottom: 1px solid $white-150;
        margin-bottom: 35px;
    }
}