<section class="blog">
    <div class="container">
        <div class="blog__top">
            <h2 class="title blog__title">Our Insight & Articles</h2>
            <a class="blog__next" href="#">
                View All
                <svg class="blog__arrow">
                    <use xlink:href="images/sprite.svg#arrow-right"></use>
                </svg>
            </a>
        </div>
        <ul class="blog__items">
            <li class="blog__item">
                <article class="blog-card">
                    <div class="blog-card__wrap">
                        <img class="blog-card__img" src="images/blog/first-card.jpg" alt="">
                        <a class="link blog-card__news" href="#">news</a>
                    </div>
                    <div class="blog-card__info">
                        <div class="blog-card__text">
                            <p>Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="blog-card__date">
                            <time class="blog-card__time blog-card__meta" datetime="2020-01-28">28 January, 2020</time>
                            <a class="blog-card__author blog-card__meta" href="#">by admin</a>
                        </div>
                    </div>
                </article>
            </li>
            <li class="blog__item">
                <article class="blog-card">
                    <div class="blog-card__wrap">
                        <img class="blog-card__img" src="images/blog/second-card.jpg" alt="">
                        <a class="link blog-card__news" href="#">news</a>
                    </div>
                    <div class="blog-card__info">
                        <div class="blog-card__text">
                            <p>Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                        </div>
                        <div class="blog-card__date">
                            <time class="blog-card__time blog-card__meta" datetime="2020-01-28">28 January, 2020</time>
                            <a class="blog-card__author blog-card__meta" href="#">by admin</a>
                        </div>
                    </div>
                </article>
            </li>
            <li class="blog__item">
                <article class="blog-card">
                    <div class="blog-card__wrap">
                        <img class="blog-card__img" src="images/blog/third-card.jpg" alt="">
                        <a class="link blog-card__news" href="#">news</a>
                    </div>
                    <div class="blog-card__info">
                        <div class="blog-card__text">
                            <p>Rncididunt ut labore et dolore magna aliqua. Ut enim</p>
                        </div>
                        <div class="blog-card__date">
                            <time class="blog-card__time blog-card__meta" datetime="2020-01-28">28 January, 2020</time>
                            <a class="blog-card__author blog-card__meta" href="#">by admin</a>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
    </div>
        <div class="blog-slider">
            <div class="container">
                <ul class="blog-slider__items">
                    <li class="blog-slider__item">
                        <div class="blog-slider__wrap">
                            <img class="blog-slider__img" src="images/partners/peterson.png" alt="">
                        </div>
                    </li>
                    <li class="blog-slider__item">
                        <div class="blog-slider__wrap">
                            <img class="blog-slider__img" src="images/partners/kmn-consulting.png" alt="">
                        </div>
                    </li>
                    <li class="blog-slider__item">
                        <div class="blog-slider__wrap">
                            <img class="blog-slider__img" src="images/partners/chainforce.png" alt="">
                        </div>
                    </li>
                    <li class="blog-slider__item">
                        <div class="blog-slider__wrap">
                            <img class="blog-slider__img" src="images/partners/nextg3n.png" alt="">
                        </div>
                    </li>
                    <li class="blog-slider__item">
                        <div class="blog-slider__wrap">
                            <img class="blog-slider__img" src="images/partners/vintage.png" alt="">
                        </div>
                    </li>
                    <li class="blog-slider__item">
                        <div class="blog-slider__wrap">
                            <img class="blog-slider__img" src="images/partners/nextg3n.png" alt="">
                        </div>
                    </li>
                    <li class="blog-slider__item">
                        <div class="blog-slider__wrap">
                            <img class="blog-slider__img" src="images/partners/vintage.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
</section>