<div class="client-slider">
    <div class="container">
        <ul class="client-slider__items">
            <li class="client-slider__item">
                <div class="client-slider__wrap">
                    <img class="client-slider__img" src="images/partners/peterson.png" alt="">
                </div>
            </li>
            <li class="client-slider__item">
                <div class="client-slider__wrap">
                    <img class="client-slider__img" src="images/partners/kmn-consulting.png" alt="">
                </div>
            </li>
            <li class="client-slider__item">
                <div class="client-slider__wrap">
                    <img class="client-slider__img" src="images/partners/chainforce.png" alt="">
                </div>
            </li>
            <li class="client-slider__item">
                <div class="client-slider__wrap">
                    <img class="client-slider__img" src="images/partners/nextg3n.png" alt="">
                </div>
            </li>
            <li class="client-slider__item">
                <div class="client-slider__wrap">
                    <img class="client-slider__img" src="images/partners/vintage.png" alt="">
                </div>
            </li>
            <li class="client-slclient__item">
                <div class="client-slclient__wrap">
                    <img class="client-slclient__img" src="images/partners/nextg3n.png" alt="">
                </div>
            </li>
            <li class="client-slider__item">
                <div class="client-slider__wrap">
                    <img class="client-slider__img" src="images/partners/vintage.png" alt="">
                </div>
            </li>
        </ul>
    </div>
</div>