<footer class="footer">
    <section>
        <h2 class="visually-hidden">Glee footer</h2>
    </section>
    <div class="container">
        <div class="footer-top">
            <div class="footer-top__item">

                <a class="logo footer-logo" href="#">
                    <img class="logo__img" src="images/logo.png" alt="logotype Glee" width="146" height="39">
                </a>
                <address class="footer-top__address">
                    <div class="footer-top__subject">
                        <p>
                            <span>Address:</span>
                            4772 Wines Lane Houston, TX 77032
                        </p>
                    </div>
                    <div class="footer-top__subject">
                        <span>Telephone:</span>
                        <a class="footer-top__number" href="tel:+8323475843">
                            +832-347-5843
                        </a>
                    </div>
                    <div class="footer-top__subject">

                        <span>Email:</span>
                        <a class="footer-top__email" href="mailto:contact@Glee.com">
                            contact@Glee.com
                        </a>
                    </div>
                </address>
            </div>

            <div class="footer-top__item">
                <h3 class="footer-top__title">Services</h3>
                <ul class="footer-top__items">
                    <li class="footer-top__wrap">
                        <a class="footer-top__link" href="#">About us</a>
                    </li>
                    <li class="footer-top__wrap">
                        <a class="footer-top__link" href="#">Return Policy</a>
                    </li>
                    <li class="footer-top__wrap">
                        <a class="footer-top__link" href="#">Our Blog</a>
                    </li>
                    <li class="footer-top__wrap">
                        <a class="footer-top__link" href="#">Contact Us</a>
                    </li>
                    <li class="footer-top__wrap">
                        <a class="footer-top__link" href="#">Terms & Condition</a>
                    </li>
                </ul>
            </div>
            
            <div class="footer-top__item">
                <h3 class="footer-top__title">Account</h3>
                <ul class="footer-top__items">
                    <li class="footer-top__wrap">
                        <a class="footer-top__link" href="#">Your Account</a>
                    </li>
                    <li class="footer-top__wrap">
                        <a class="footer-top__link" href="#">Checkout</a>
                    </li>
                    <li class="footer-top__wrap">
                        <a class="footer-top__link" href="#">Login</a>
                    </li>
                    <li class="footer-top__wrap">
                        <a class="footer-top__link" href="#">Register</a>
                    </li>
                </ul>
            </div>
            <div class="footer-top__item">
                <h3 class="footer-top__title">Newsletter</h3>
                <div class="footer-top__slogan">
                    <p>Subscribe by our newsletter and get update protidin.</p>
                </div>
                <form class="form-subscribe">
                    <label class="visually-hidden">email input field, to subscribe to product updates </label>
                        <input class="form-subscribe__input" type="email" name="email" id="email" placeholder="Email address">
                    <button class="form-subscribe__button" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            <p>©2020 CopyRight Example. All rights reserved</p>
            <ul class="footer-bottom__list">
                <li class="footer-bottom__item">
                    <a class="footer-bottom__link" href="#">Home</a>
                </li>
                <li class="footer-bottom__item">
                    <a class="footer-bottom__link" href="#">About</a>
                </li>
                <li class="footer-bottom__item">
                    <a class="footer-bottom__link" href="#">Blog</a>
                </li>
                <li class="footer-bottom__item">
                    <a class="footer-bottom__link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</footer>