
    <header class="header">
        <h1 class="visually-hidden">Furniture store glee</h1>
        <div class="container container--large">
            <nav class="header__inner">
                <a class="logo" href="#" >
                    <img class="logo__img" src="images/logo.png" alt="logotype Glee" width="146" height="39">
                </a>

                    <ul class="menu">
                        <li class="menu__item">
                            <a class="menu__link" href="#">Home<span>+</span></a>
                        </li>

                        <li class="menu__item">
                            <a class="menu__link" href="#">About</a>
                        </li>

                        <li class="menu__item">
                            <a class="menu__link" href="#">Services</a>
                        </li>

                        <li class="menu__item">
                            <a class="menu__link" href="#">Pages<span>+</span></a>
                        </li>

                        <li class="menu__item">
                            <a class="menu__link" href="#">News</a>
                        </li>

                        <li class="menu__item">
                            <a class="menu__link" href="#">Contact</a>
                        </li>
                    </ul>

                    <div class="user-nav">
                        
                            <button class="user-nav__item user-nav__btn round-icon" type="button">
                                <span class="visually-hidden">open the search menu</span>
                                <svg class="user-nav__search user-nav__icon">
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>                            
                            </button>
                       

                        <div class="user-nav__item user-nav__group">
                            <a class="user-nav__link user-nav__link--left" href="#" >
                                <span class="visually-hidden">
                                    go to the page liked</span>
                                <svg class="user-nav__like user-nav__icon">
                                    <use xlink:href="images/sprite.svg#like-icon"></use>
                                </svg>
                                <span class="user-nav__num">0</span>
                            </a>
                       

                       
                            <a class="user-nav__link user-nav__link--right" href="#" >
                                <span class="visually-hidden">go to the page of selected products</span>
                                <svg class="user-nav__basket user-nav__icon">
                                    <use xlink:href="images/sprite.svg#basket-icon"></use>
                                </svg>
                                <span class="user-nav__num">0</span>
                            </a>
                        </div>

                     
                            <button class="user-nav__item user-nav__btn user-nav__btn--right round-icon" type="button">
                                <span class="visually-hidden">
                                    opening the main menu</span>
                                <svg class="user-nav__menu">
                                    <use xlink:href="images/sprite.svg#menu-icon"></use>
                                </svg>
                            </button>
                   
                    </div>
                
            </nav>
        </div>
    </header>

  