<section class="new-design">
    <div class="container">
        <h2 class="title">
            New Design
        </h2>
        <ul class="filter__items">
            <li class="filter__item">
                <button class="filter__btn" type="button" data-filter="all">All</button>
            </li>
            <li class="filter__item">
                <button class="filter__btn" type="button" data-filter=".furnitures">Furnitures</button>
            </li>
            <li class="filter__item">
                <button class="filter__btn" type="button" data-filter=".chairs">Chairs</button>
            </li>
            <li class="filter__item">
                <button class="filter__btn" type="button" data-filter=".lighting">Lighting</button>
            </li>
            <li class="filter__item">
                <button class="filter__btn" type="button" data-filter=".decor">Decor</button>
            </li>
        </ul>
        <ul class="new-design__items">
            <li class="new-design__item mix lighting">
                <article class="design-card">
                    <div class="design-card__text">
                        <div class="design-card__info">
                            <p>Beat Flat Pendant Black</p>
                        </div>
                        <span class="design-card__type">Classic</span>
                    </div>
                    <div class="design-card__wrap">
                        <img class="design-card__img" src="images/design/1.png" alt="" height="110">
                    </div>
                </article>
            </li>
            <li class="new-design__item mix design">
                <article class="design-card">
                    <div class="design-card__text">
                        <div class="design-card__info">
                            <p>Lampe Sur Pieds Bamboo</p>
                        </div>
                        <span class="design-card__type">Classic</span>
                    </div>
                    <div class="design-card__wrap">
                        <img class="design-card__img" src="images/design/lampesur.png" alt="">
                    </div>
                </article>
            </li>
            <li class="new-design__item mix chairs">
                <article class="design-card">
                    <div class="design-card__text">
                        <div class="design-card__info">
                            <p>Rattan Rocking Chair</p>
                        </div>
                        <span class="design-card__type">Classic</span>
                    </div>
                    <div class="design-card__wrap design-card__chair">
                        <img class="design-card__img design-card__img--chair" src="images/design/chair-black.png" alt="" height="143">
                    </div>
                </article>
            </li>
            <li class="new-design__item mix chairs">
                <article class="design-card">
                    <div class="design-card__text">
                        <div class="design-card__info">
                            <p>Rattan Rocking Chair</p>
                        </div>
                        <span class="design-card__type">Classic</span>
                    </div>
                    <div class="design-card__wrap">
                        <img class="design-card__img" src="images/design/bed2.png" alt="">
                    </div>
                </article>
            </li>
            <li class="new-design__item mix chairs">
                <article class="design-card">
                    <div class="design-card__text">
                        <div class="design-card__info">
                            <p>Rattan Rocking Chair</p>
                        </div>
                        <span class="design-card__type">Classic</span>
                    </div>
                    <div class="design-card__wrap  design-card__chair">
                        <img class="design-card__img design-card__img--chair" src="images/design/chair.png" alt="">
                    </div>
                </article>
            </li>
            <li class="new-design__item mix furnitures">
                <article class="design-card">
                    <div class="design-card__text">
                        <div class="design-card__info">
                            <p>Lampe Sur Pieds Bamboo</p>
                        </div>
                        <span class="design-card__type">Classic</span>
                    </div>
                    <div class="design-card__wrap">
                        <img class="design-card__img" src="images/design/sofa6.png" alt="">
                    </div>
                </article>
            </li>

        </ul>
    </div>
    @include('video.html')
</section>