<section class="week-products">
    <div class="container container--large">
        <h2 class="title">Products of the week</h2>
        <ul class="filter__items">
            <li class="filter__item">
                <button class="filter__btn" type="button" data-filter="all">All</button>
            </li>
            <li class="filter__item">
                <button class="filter__btn" type="button" data-filter=".furnitures">Furnitures</button>
            </li>
            <li class="filter__item">
                <button class="filter__btn" type="button" data-filter=".chairs">Chairs</button>
            </li>
            <li class="filter__item">
                <button class="filter__btn" type="button" data-filter=".lighting">Lighting</button>
            </li>
            <li class="filter__item">
                <button class="filter__btn" type="button" data-filter=".decor">Decor</button>
            </li>
        </ul>
        <div class="container">
            <ul class="week-products__list">
                <li class="week-products__card mix furnitures">
                    <article class="product-card">
                        <a class="product-card__overlap" href="#"></a>
                        <div class="product-card__box">
                            <a class="product-card__link round-icon" href="#">
                                <span class="visually-hidden">open a page with a detailed description</span>
                                <svg class="product-card__search product-card__icon">
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                            <button class="product-card__link round-icon" type="button">
                                <span class="visually-hidden">Add to Shopping Cart</span>
                                <svg class="product-card__basket product-card__icon">
                                    <use xlink:href="images/sprite.svg#basket-icon"></use>
                                </svg>
                            </button>
                            <button class="product-card__link round-icon" type="button">
                                <span class="visually-hidden">Add to favorites</span>
                                <svg class="product-card__like product-card__icon">
                                    <use xlink:href="images/sprite.svg#like-icon"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="product-card__wrap">
                            <img class="product-card__img" src="images/wooden-radio.jpg" alt="lounge">
                        </div>
                        <h3 class="product-card__name">Wooden radio</h3>
                        <p class="product-card__price"><span>$</span>29.00</p>
                    </article>
                </li>
                <li class="week-products__card mix chairs">
                    <article class="product-card">
                        <a class="product-card__overlap" href="#"></a>
                        <div class="product-card__box">
                            <a class="product-card__link round-icon" href="#">
                                <span class="visually-hidden">open a page with a detailed description</span>
                                <svg class="product-card__search product-card__icon">
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                            <button class="product-card__link round-icon" type="button">
                                <span class="visually-hidden">Add to Shopping Cart</span>
                                <svg class="product-card__basket product-card__icon">
                                    <use xlink:href="images/sprite.svg#basket-icon"></use>
                                </svg>
                            </button>
                            <button class="product-card__link round-icon" type="button">
                                <span class="visually-hidden">Add to favorites</span>
                                <svg class="product-card__like product-card__icon">
                                    <use xlink:href="images/sprite.svg#like-icon"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="product-card__wrap">
                            <img class="product-card__img" src="images/wooden-chair.jpg" alt="chair">
                        </div>
                        <h3 class="product-card__name">Wooden chair</h3>
                        <p class="product-card__price"><span>$</span>29.00</p>
                    </article>
                </li>
                <li class="week-products__card mix chairs">
                    <article class="product-card">
                        <a class="product-card__overlap" href="#"></a>
                        <div class="product-card__box">
                            <a class="product-card__link round-icon" href="#">
                                <span class="visually-hidden">open a page with a detailed description</span>
                                <svg class="product-card__search product-card__icon">
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                            <button class="product-card__link round-icon" type="button">
                                <span class="visually-hidden">Add to Shopping Cart</span>
                                <svg class="product-card__basket product-card__icon">
                                    <use xlink:href="images/sprite.svg#basket-icon"></use>
                                </svg>
                            </button>
                            <button class="product-card__link round-icon" type="button">
                                <span class="visually-hidden">Add to favorites</span>
                                <svg class="product-card__like product-card__icon">
                                    <use xlink:href="images/sprite.svg#like-icon"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="product-card__wrap">
                            <img class="product-card__img" src="images/white-chair.jpg" alt="chair">
                        </div>
                        <h3 class="product-card__name">White chair</h3>
                        <p class="product-card__price"><span>$</span>29.00</p>
                    </article>
                </li>
                <li class="week-products__card mix decor">
                    <article class="product-card">
                        <a class="product-card__overlap" href="#"></a>
                        <div class="product-card__box">
                            <a class="product-card__link round-icon" href="#">
                                <span class="visually-hidden">open a page with a detailed description</span>
                                <svg class="product-card__search product-card__icon">
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                            <button class="product-card__link round-icon" type="button">
                                <span class="visually-hidden">Add to Shopping Cart</span>
                                <svg class="product-card__basket product-card__icon">
                                    <use xlink:href="images/sprite.svg#basket-icon"></use>
                                </svg>
                            </button>
                            <button class="product-card__link round-icon" type="button">
                                <span class="visually-hidden">Add to favorites</span>
                                <svg class="product-card__like product-card__icon">
                                    <use xlink:href="images/sprite.svg#like-icon"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="product-card__wrap">
                            <img class="product-card__img" src="images/retro-table.jpg" alt="table">
                        </div>
                        <h3 class="product-card__name">Retro table</h3>
                        <p class="product-card__price"><span>$</span>29.00</p>
                    </article>
                </li>
                <li class="week-products__card mix lighting">
                    <article class="product-card">
                        <a class="product-card__overlap" href="#"></a>
                        <div class="product-card__box">
                            <a class="product-card__link round-icon" href="#">
                                <span class="visually-hidden">open a page with a detailed description</span>
                                <svg class="product-card__search product-card__icon">
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                            <button class="product-card__link round-icon" type="button">
                                <span class="visually-hidden">Add to Shopping Cart</span>
                                <svg class="product-card__basket product-card__icon">
                                    <use xlink:href="images/sprite.svg#basket-icon"></use>
                                </svg>
                            </button>
                            <button class="product-card__link round-icon" type="button">
                                <span class="visually-hidden">Add to favorites</span>
                                <svg class="product-card__like product-card__icon">
                                    <use xlink:href="images/sprite.svg#like-icon"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="product-card__wrap">
                            <img class="product-card__img" src="images/wooden-radio2.jpg" alt="lounge">
                        </div>
                        <h3 class="product-card__name">Wooden radio</h3>
                        <p class="product-card__price"><span>$</span>29.00</p>
                    </article>
                </li>
                <li class="week-products__card mix decor">
                    <article class="product-card">
                        <a class="product-card__overlap" href="#"></a>
                        <div class="product-card__box">
                            <a class="product-card__link round-icon" href="#">
                                <span class="visually-hidden">open a page with a detailed description</span>
                                <svg class="product-card__search product-card__icon">
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                            <button class="product-card__link round-icon" type="button">
                                <span class="visually-hidden">Add to Shopping Cart</span>
                                <svg class="product-card__basket product-card__icon ">
                                    <use xlink:href="images/sprite.svg#basket-icon"></use>
                                </svg>
                            </button>
                            <button class="product-card__link round-icon" type="button">
                                <span class="visually-hidden">Add to favorites</span>
                                <svg class="product-card__like product-card__icon">
                                    <use xlink:href="images/sprite.svg#like-icon"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="product-card__wrap">
                            <img class="product-card__img" src="images/wooden-chair2.jpg" alt="chair">
                        </div>
                        <h3 class="product-card__name">Wooden chair</h3>
                        <p class="product-card__price"><span>$</span>29.00</p>
                    </article>
                </li>
                <li class="week-products__card mix lighting">
                    <article class="product-card">
                        <a class="product-card__overlap" href="#"></a>
                        <div class="product-card__box">
                            <a class="product-card__link round-icon" href="#">
                                <span class="visually-hidden">open a page with a detailed description</span>
                                <svg class="product-card__search product-card__icon">
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                            <button class="product-card__link round-icon" type="button">
                                <span class="visually-hidden">Add to Shopping Cart</span>
                                <svg class="product-card__basket product-card__icon">
                                    <use xlink:href="images/sprite.svg#basket-icon"></use>
                                </svg>
                            </button>
                            <button class="product-card__link round-icon" type="button">
                                <span class="visually-hidden">Add to favorites</span>
                                <svg class="product-card__like product-card__icon">
                                    <use xlink:href="images/sprite.svg#like-icon"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="product-card__wrap">
                            <img class="product-card__img" src="images/white-chair2.jpg" alt="chair">
                        </div>
                        <h3 class="product-card__name">White chair</h3>
                        <p class="product-card__price"><span>$</span>29.00</p>
                    </article>
                </li>
                <li class="week-products__card mix decor">
                    <article class="product-card">
                        <a class="product-card__overlap" href="#"></a>
                        <div class="product-card__box">
                            <a class="product-card__link round-icon" href="#">
                                <span class="visually-hidden">open a page with a detailed description</span>
                                <svg class="product-card__search product-card__icon">
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                            <button class="product-card__link round-icon" type="button">
                                <span class="visually-hidden">Add to Shopping Cart</span>
                                <svg class="product-card__basket product-card__icon">
                                    <use xlink:href="images/sprite.svg#basket-icon"></use>
                                </svg>
                            </button>
                            <button class="product-card__link round-icon" type="button">
                                <span class="visually-hidden">Add to favorites</span>
                                <svg class="product-card__like product-card__icon">
                                    <use xlink:href="images/sprite.svg#like-icon"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="product-card__wrap">
                            <img class="product-card__img" src="images/retro-table2.jpg" alt="table">
                        </div>
                        <h3 class="product-card__name">Retro table</h3>
                        <p class="product-card__price"><span>$</span>29.00</p>
                    </article>
                </li>
            </ul>
        </div>

        <ul class="lamps">
            <li class="lamps__item">
                <article class="lamp-card">
                    <div class="lamp-card__img">
                        <img src="images/mirum.png" alt="">
                    </div>
                    <div class="lamp-card__info">
                        <div class="lamp-card__name">
                            <p>Mirum Notare Tellus</p>
                        </div>
                        <div class="lamp-card__about">
                            <p>LEDCornBulb Lamp 5W 7W 10W 12W 15W E26 E27LEDCornLight</p>
                        </div>
                        <a class="link lamp-card__link" href="">
                            View More
                            <svg class="lamp-card__arrow">
                                <use xlink:href="images/sprite.svg#arrow"></use>
                            </svg>
                        </a>
                    </div>
                </article>
            </li>
            <li class="lamps__item">
                <article class="lamp-card">
                    <div class="lamp-card__img">
                        <img src="images/malesuada.png" alt="">
                    </div>
                    <div class="lamp-card__info">
                        <div class="lamp-card__name">
                            <p>Malesuada Tempor
                                Euismod</p>
                        </div>
                        <div class="lamp-card__about">
                            <p>50W 8000lm Compact Size for HID StreetLightReplacementLEDCornLight
                            </p>
                        </div>
                        <a class="link lamp-card__link" href="">
                            View More
                            <svg class="lamp-card__arrow">
                                <use xlink:href="images/sprite.svg#arrow"></use>
                            </svg>
                        </a>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>